# Virtual Environment Directories - More Specific
**/env*/
**/.env/
**/venv*/
**/numpy_env/
**/tensorflow_env/
**/env1/

# Specific Script Directories to Ignore
**/Scripts/
**/activate*
**/deactivate*
**/pip*.exe
**/python*.exe

# Python Virtual Environment Files
*.cfg
*.pyproj
*.sln